<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>농수산물 거래사이트</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <style>
      .tit{
        text-align: center;
        margin-top: 17px;
      }
      #txtArea{
          margin-bottom: 20px;
      }
      #btnStyle{
          margin-bottom: 20px;
      }

  </style>
</head>
<body class="bg-Secondary"><!DOCTYPE html>
  <html lang="en">
      <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>농수산물 거래사이트</title>
          <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
          <link href="../css/styles.css" rel="stylesheet" />
          <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
      </head>
      <body class="sb-nav-fixed">
          <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
              <!-- Navbar Brand-->
              <a class="navbar-brand ps-3" href="adminPage">어드민페이지</a>
              <!-- Sidebar Toggle-->
              <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
              <!-- Navbar Search-->
              <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                  <div class="input-group">
                      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                      <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                  </div>
              </form>
              <!-- Navbar-->
              <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">Settings</a></li>
                          <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                          <% if(sessionName != undefined){ %>
                          <li><hr class="dropdown-divider" /><%= sessionName %></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                          <% } %>
                      </ul>
                  </li>
              </ul>
          </nav>
          <div id="layoutSidenav">
              <div id="layoutSidenav_nav">
                  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                      <div class="sb-sidenav-menu">
                          <div class="nav">
                              <div class="sb-sidenav-menu-heading">Core</div>
                              <a class="nav-link" href='/admin/prodRegiste'>
                                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                  상품등록
                              </a>
                              <div class="sb-sidenav-menu-heading">Interface</div>
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                  <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                  Pages
                                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                              </a>    
                              <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                  <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                     
                                      <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                         
                                      </div>
                                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                          메인
                                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                      </a>
                                      <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                          <nav class="sb-sidenav-menu-nested nav">
                                              <a class="nav-link" href="/user/home">홈페이지</a>
  
                                          </nav>
                                      </div>
                                  </nav>
                              </div>
                              <div class="sb-sidenav-menu-heading"></div>
  
                              </div>
                      </div>
                      <div class="sb-sidenav-footer">
                          <div class="small">Logged in as:</div>
                          Start Bootstrap
                      </div>
                  </nav>
              </div>
              <div id="layoutSidenav_content">
                  <main>
                      <div class="container-fluid px-4">
                          <h1 class="mt-4"><%= title %></h1>
                          <ol class="breadcrumb mb-4">
                              <li class="breadcrumb-item active"><%= title %></li>
                          </ol>
                          <div class="row">
                            <div class="container my-5">
                              <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                                  <div class="mb-3 row">
                                      <label for="prod_nm" class="col-sm-2 col-form-label">상품명</label>
                                      <div class="col-sm-3">
                                        <input type="text" class="form-control" id="prod_nm" placeholder="상품명을 입력해주세요.">
                                      </div>
                                  </div>
                      
                                  <div class="mb-3 row">
                                      <label for="prod_price" class="col-sm-2 col-form-label">상품가격</label>
                                      <div class="col-sm-3">
                                        <input type="text" class="form-control" id="prod_price" placeholder="상품가격을 입력해주세요.">
                                      </div>
                                  </div>
                      
                                  <div class="mb-3 row">
                                      <label for="prod_disct" class="col-sm-2 col-form-label">할인율</label>
                                      <div class="col-sm-3">
                                        <input type="text" class="form-control" id="prod_disct" placeholder="할인율(%)을 입력해주세요.">
                                      </div>
                                  </div>
                      
                                  <div class="mb-3 row">
                                      <label for="staticEmail" class="col-sm-2 col-form-label">상품이미지</label>
                                      <div class="col-sm-3">
                                        <input type="file" class="form-control" id="prod_img" onchange="readURL(this)">
                                      </div>
                                  </div>
                                  <div>
                                      <img id="preview" style="float:right">
                                  </div>
                      
                                  <div class="mb-3 row">
                                      <label for="staticEmail" class="col-sm-2 col-form-label">상품재고량</label>
                                      <div class="col-sm-3">
                                        <input type="text" class="form-control" id="prod_cnt" placeholder="재고량을 입력해주세요.">
                                      </div>
                                  </div>
                                  
                                  <div class="mb-3 row">
                                      <label for="staticEmail" class="col-sm-2 col-form-label">상품코드</label>
                                      <div class="col-sm-3">
                                        <input type="text" class="form-control" id="prod_div" placeholder="상품코드를 입력해주세요.">
                                      </div>
                                  </div>
                      
                                  <div class="input-group" id="txtArea">
                                      <label for="staticEmail" class="col-sm-2 col-form-label">상품설명</label>
                                      <span class="input-group-text">상품설명</span>
                                      <textarea  id="prod_detail" rows="10" cols="80"></textarea>
                                    </div>
                      
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" id="btnStyle">
                                      <button class="btn btn-primary me-md-2" type="button">상품등록</button>
                                    </div>    
                              </div>
                            </div>
                            
                          </div>
                          
                      </div>
                  </main>
                  <footer class="py-4 bg-light mt-auto">
                      <div class="container-fluid px-4">
                          <div class="d-flex align-items-center justify-content-between small">
                              <div class="text-muted">Copyright &copy; Your Website 2022</div>
                              <div>
                                  <a href="#">Privacy Policy</a>
                                  &middot;
                                  <a href="#">Terms &amp; Conditions</a>
                              </div>
                          </div>
                      </div>
                  </footer>
              </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
          <script src="../js/scripts.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
          <script src="../assets/demo/chart-area-demo.js"></script>
          <script src="../assets/demo/chart-bar-demo.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
          <script src="../js/datatables-simple-demo.js"></script>
      </body>
  </html>
    <script>
      function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              document.getElementById('preview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
          } else {
            document.getElementById('preview').src = "";
          }
        }
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="../assets/demo/chart-area-demo.js"></script>
        <script src="../assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="../js/datatables-simple-demo.js"></script>
    </body>
</html>
