

<!-- Start Header -->
<header class="header navbar-area">
    <!-- Start Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-left">
                        <ul class="menu-top-link">
                            <li>
                                <div class="select-position">
                                    <select id="select4">
                                        <option value="0" selected>	&#8361; KRW</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-position">
                                    <select id="select5">
                                        <option value="0" selected>한국어</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-middle">
                        <ul class="useful-links">
                            <li><a href="/user/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-end">
                        <% if(sessionEmail != undefined){ %>
                        <div class="user">
                            <i class="lni lni-user"></i>
                            <%= sessionName %>님
                            <span>환영합니다.</span>
                        </div>
                        <ul class="user-login">
                            <li>
                                <a href="/logout">로그아웃</a>
                            </li>
                        </ul>
                        
                        <% } else { %>
                            <ul class="user-login">
                                <li>
                                    <a href="/">로그인</a>
                                </li>
                                <li>
                                    <a href="/user/registe">회원가입</a>
                                </li>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <!-- Start Header Middle -->
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-7">
                    <!-- Start Header Logo -->
                    <a class="navbar-brand" href="/user/home">
                        <img src="../assets/images/logo/logo.png" style="width:150px" alt="Logo">
                    </a>
                    <!-- End Header Logo -->
                </div>
                <div class="col-lg-5 col-md-7 d-xs-none">
                    <!-- Start Main Menu Search -->
                    <div class="main-menu-search">
                        <!-- navbar search start -->
                        <div class="navbar-search search-style-5">
                            <div class="search-input">
                                <input type="text" placeholder="Search">
                            </div>
                            <div class="search-btn">
                                <button><i class="lni lni-search-alt"></i></button>
                            </div>
                        </div>
                        <!-- navbar search Ends -->
                    </div>
                    <!-- End Main Menu Search -->
                </div>
                <div class="col-lg-4 col-md-2 col-5">
                    <div class="middle-right-area">
                        <div class="nav-hotline">
                            <i class="lni lni-phone"></i>
                            <h3>연락처:
                                <span>070-1234-1234</span>
                            </h3>
                        </div>
                        <div class="navbar-cart">
                            <div class="wishlist">
                                <a href="javascript:void(0)">
                                    <i class="lni lni-heart"></i>
                                    <span class="total-items">0</span>
                                </a>
                            </div>
                            <div class="cart-items">
                                <a href="/user/cart" class="main-btn">
                                    <i class="lni lni-cart"></i>
                                    <span class="total-items">0</span>
                                </a>
                                <!-- Shopping Item -->
                                <!-- <div class="shopping-item">
                                    <div class="dropdown-cart-header">
                                        <span>Items</span>
                                        <a href="/user/cart">View Cart</a>
                                    </div>
                                    <ul class="shopping-list">
                                      
                                    </ul>
                                    <div class="bottom">
                                        <div class="total">
                                            <span>Total</span>
                                            <span class="total-amount"></span>
                                        </div>
                                        <div class="button">
                                            <a href="#" class="btn animate">Checkout</a>
                                        </div>
                                    </div>
                                </div> -->
                                <!--/ End Shopping Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Middle -->
    <!-- Start Header Bottom -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-6 col-12">
                <div class="nav-inner">
                    <!-- Start Mega Category Menu -->
                    <div class="mega-category-menu">
                        <span class="cat-button"><i class="lni lni-menu"></i>All Categories</span>
                        <ul class="sub-category">
                            <li><a href="productList">과일 <i class="lni lni-chevron-right"></i></a>
                                <ul class="inner-sub-category">
                                    <li><a href="#">사과/배</a></li>
                                    <li><a href="#">귤/한라봉/감귤류</a></li>
                                    <li><a href="#">감/홍시/곶감</a></li>
                                    <li><a href="#">키위/참다래</a></li>
                                    <li><a href="#">토마토/자두/복숭아/포도</a></li>
                                    <li><a href="#">수박/메론/참외</a></li>
                                    <li><a href="#">딸기/블루베리/베리류</a></li>
                                    <li><a href="#">바나나/오렌지/파인애플</a></li>
                                    <li><a href="#">자몽/레몬/라임/석류</a></li>
                                    <li><a href="#">망고/체리/아보카도/기타</a></li>
                                    <li><a href="#">과일선물세트</a></li>
                                </ul>
                            </li>
                            <li><a href="#">채소<i class="lni lni-chevron-right"></i></a>
                                <ul class="inner-sub-category">
                                    <li><a href="#">두부/콩나물</a></li>
                                    <li><a href="#">감자/고구마</a></li>
                                    <li><a href="#">당근/뿌리채소</a></li>
                                    <li><a href="#">오이/고추/열매채소</a></li>
                                    <li><a href="#">양파/마늘/파</a></li>
                                    <li><a href="#">배추/무/김장채소</a></li>
                                    <li><a href="#">시금치/나물/잎줄기채소</a></li>
                                    <li><a href="#">상추/깻잎/쌈채소</a></li>
                                    <li><a href="#">새송이/버섯류</a></li>
                                    <li><a href="#">인삼/건강차재료</a></li>
                                    <li><a href="#">기타채소</a></li>
                                    <li><a href="#">건나물/건채소</a></li>
                                    <li><a href="#">버섯/채소선물세트</a></li>
                                </ul>
                            </li>
                            <li><a href="#">쌀/잡곡<i class="lni lni-chevron-right"></i></a>
                            </li>
                            <li><a href="#">수산물/건어물<i class="lni lni-chevron-right"></i></a>
                            </li>
                            <li><a href="#">축산물/계란<i class="lni lni-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mega Category Menu -->
                    <!-- Start Navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
                        aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="/user/home" class="active" aria-label="Toggle navigation">home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                        data-bs-target="#submenu-1-2" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">과일</a>
                                    <ul class="sub-menu collapse" id="submenu-1-2">
                                        <li class="nav-item"><a href="productList">사과/배</a></li>
                                        <li class="nav-item"><a href="#">귤/한라봉/감귤류</a></li>
                                        <li class="nav-item"><a href="#">감/홍시/곶감</a></li>
                                        <li class="nav-item"><a href="#">키위/참다래</a></li>
                                        <li class="nav-item"><a href="#">토마토/자두/복숭아/포도</a></li>
                                        <li class="nav-item"><a href="#">수박/메론/참외</a></li>
                                        <li class="nav-item"><a href="#">딸기/블루베리/베리류</a></li>
                                        <li class="nav-item"><a href="#">바나나/오렌지/파인애플</a></li>
                                        <li class="nav-item"><a href="#">자몽/레몬/라임/석류</a></li>
                                        <li class="nav-item"><a href="#">망고/체리/아보카도/기타</a></li>
                                        <li class="nav-item"><a href="#">과일선물세트</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                        data-bs-target="#submenu-1-3" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">채소</a>
                                    <ul class="sub-menu collapse" id="submenu-1-3">
                                        <li class="nav-item"><a href="#">두부/콩나물</a></li>
                                        <li class="nav-item"><a href="#">감자/고구마</a></li>
                                        <li class="nav-item"><a href="#">당근/뿌리채소</a></li>
                                        <li class="nav-item"><a href="#">오이/고추/열매채소</a></li>
                                        <li class="nav-item"><a href="#">양파/마늘/파</a></li>
                                        <li class="nav-item"><a href="#">배추/무/김장채소</a></li>                                                                                <li class="nav-item"><a href="#">시금치/나물/잎줄기채소</a></li>
                                        <li class="nav-item"><a href="#">상추/깻잎/쌈채소</a></li>
                                        <li class="nav-item"><a href="#">새송이/버섯류</a></li>
                                        <li class="nav-item"><a href="#">인삼/건강차재료</a></li>
                                        <li class="nav-item"><a href="#">기타채소</a></li>
                                        <li class="nav-item"><a href="#">건나물/건채소</a></li>
                                        <li class="nav-item"><a href="#">버섯/채소선물세트</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                        data-bs-target="#submenu-1-4" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">쌀/잡곡</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                        data-bs-target="#submenu-1-5" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">수산물/건어물</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                        data-bs-target="#submenu-1-6" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">축산물/계란</a>
                                </li>
                            </ul>
                        </div> <!-- navbar collapse -->
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">검색</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Bottom -->
</header>
<!-- End Header Area -->