<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>농수산물 거래사이트</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/LineIcons.3.0.css">
    <link rel="stylesheet" href="assets/css/tiny-slider.css">
    <link rel="stylesheet" href="assets/css/glightbox.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <style>
        .mb-3{
            margin: 20px;
        }
        .d-grid{
            margin: 20px;
        }
        .tit{
          text-align: center;
          margin-top: 17px;
        }

    </style>
  </head>
  <body>
    <% include ./header %>
    <h1 class="tit">회원가입</h1>
    <div class="container my-5">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

        <div calss="input_container">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="user_id" placeholder="이메일을 입력해주세요.">
                </div>
              </div>
        
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="user_pw" placeholder="비밀번호를 입력해주세요.">
                </div>
              </div>
        
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">전화번호</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="user_ph" placeholder="전화번호를 입력해주세요.">
                </div>
              </div>
        
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">우편번호</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sample6_postcode" placeholder="우편번호">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <input type="button" class="btn btn-primary me-md-2" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                </div>
              </div>
             
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">도로명주소</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sample6_address" placeholder="도로명주소">
                </div>
              </div>
        
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">상세주소</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sample6_detailAddress" placeholder="상세주소">
                </div>
              </div>
              <input type="hidden" id="sample6_extraAddress" placeholder="참고항목">
        
              <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
              <script src="assets/js/postcode.js"></script>
        
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">회원가입</button>
              </div>           
        </div>        
        
      </div>
    </div>

      <% include ./footer %>
  </body>
</html>