
    <style>
        .mb-3{
            margin: 20px;
        }
        .d-grid{
            margin: 20px;
        }
        .tit{
          text-align: center;
          margin-top: 17px;
        }

    </style>
<body>
  
    <h1 class="tit">장바구니</h1>
    <div class="container my-5">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        
        <div class="col-lg-4 col-md-4 col-12" style="margin-left:auto">
          <div class="form-group">
            <h4 id="fullPrice">결제 금액: </h4>
          </div>
        </div>
      </div>
    </div>
  
  </body>